<h1>Projects</h1>
<ul>
  <% @projects.each do |i| %>
    <% if i.description != nil %>
      <li><%= i.name + ": "+ i.description %></li>
    <% else %>
      <li><%= i.name%></li>
    <%end%>
  <%end%>
</ul>
