<h1>Add a new project</h1>

<hr>

<form action="/new" method="POST">
  <div>
    <label for="project_name">Name</label>
    <input type="text" name="project[name]" id="project_name" placeholder="New Project Name" required>
  </div>

  <div>
    <label for="project_description">Description</label>
    <textarea name="project[description]" id="project_address" placeholder="Description..." ></textarea>
  </div>

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <button type="submit">Add this project</button>
</form>

<hr />

<%= link_to 'Home', '/' %>
