<h1>Result</h1>

 <%= @result %>

<hr>

<marquee behavior="scroll" bgcolor=#DCDCDC loop="-1" width="100%">
  <i><font color=#000000><strong>Do you need to contact us?&nbsp;&nbsp;&nbsp;<img src="glasses.png" height=20px width=60px/></strong></font></i>
</marquee>

<hr>

<%= link_to "Home", "/" %>
