<h1>Thug Life</h1>
    <p>
      contact@example.com
    </p>
    <marquee behavior="scroll" bgcolor=#DCDCDC loop="-1" width="40%">
      <i><font color=#000000><strong>Do you need to contact us?&nbsp;&nbsp;&nbsp;<img src="glasses.png" height=20px width=60px/></strong></font></i>
    </marquee>
