<h1>Contact</h1>
<p>
contact@example.com
</p>
<hr>
<marquee behavior="scroll" bgcolor=#DCDCDC loop="-1" width="100%">
  <i><font color=#000000><strong>Do you need to contact us?&nbsp;&nbsp;&nbsp;<img src="glasses.png" height=20px width=60px/></strong></font></i>
</marquee>
<br>
<hr>
<a href="/">Home</a>
