<h1>Time Tracking App</h1>

<hr>

<h3>Ultimate tracking tool</h3>

<hr>

<ul>
  <li><a href="/contact">Contact</a></li>
  <li><a href="/project">Projects</a></li>
</ul>

<br>

<a href="/calculator"><img src="calculator.png" height=60px width=40px/></a>

<p>
  vader powered
</p>
<hr>
<marquee behavior="scroll" bgcolor=#DCDCDC loop="-1" width="100%">
  <i><font color=#000000><strong><img src="glasses.png" height=20px width=60px/>&nbsp;<img src="glasses.png" height=20px width=60px/>&nbsp;<img src="glasses.png" height=20px width=60px/>&nbsp;<img src="glasses.png" height=20px width=60px/>&nbsp;</strong></font></i>
</marquee>
